* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-color: #fff;
    --navbar-bg-color: #ce7509; 
}

.container {
    display: grid;
    background-color: var(--primary-bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar > ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    justify-content: end;
    margin: 12px 32px;
    font-size: 20px; 
    color: #fff; 
}

.navbar > ul > li:hover {
    font-size: 21px;
}

.navbar {
    background-color: var(--navbar-bg-color);
}

.content {
    text-align: center;
}

header {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;

}

/* Home Page styles */


.homePage__title, .aboutUs__title{
    font-size: 48px;
    font-weight: 700;
}


.homePage__contentContainer > header {
    margin: 64px;
}

.homePage__contentContainer i, .aboutUs__contentContainer i {
    display: block;
    background-color: var(--navbar-bg-color);
    padding: 6px;
    border-radius: 16px;
    color: white;
    margin: 12px auto;
    width: fit-content;
}

.homePage__contentContainer span, .aboutUs__contentContainer span {
    display: block;
    margin: 0px auto;
    margin-top: 24px;
    max-width: 660px;
}

.homePage__contentContainer > header > h1 {
    margin: 48px 0px;
    font-size: 48px;
}


.homePage__caption > strong {
    display: block;
    margin: 12px auto;
}

.homePage__cardContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-evenly;
    margin: 48px;
}

.homePage__caption {
    text-align: center;
    background-color: var(--navbar-bg-color);
    border-radius: 16px;
    padding: 8px;
    color: #fff;
    max-width: 840px;
    margin: auto;
}

.homePage__card > label {
    font-size: 24px;
    display: block;
    font-weight: 500;
    margin: 12px auto;
    text-align: center;
}


/* Menu Page styles */


.menu__title{
    font-size: 48px;
    font-weight: 700;
}


.menu__contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64px;
    padding: 64px;

}

.menu__contentContainer > header {
    grid-column: 1 / -1;
}


section > div {
    font-size: 32px;
    font-weight: 500;
}

.menu__card {
    background-color: var(--navbar-bg-color);
    color: white;
    border-radius: 16px;
    max-width: 600px;
    margin: auto;
}

.menu__caption {
    margin: 16px;
    padding: 16px;
}

img {
    width: 100%;
    object-fit: cover;
}


/* AboutUs Page styles */

.aboutUs__label {
    font-size: 24px;
    font-weight: 600;
    margin: 12px;
}


.aboutUs__card {
    margin: 64px;
}
